alias e='emacs'
alias ei='emacsclient -t'
alias eg='emacsclient -t'
alias vi='vim'
alias v='f -e vim'
alias m='mvim'
alias t='subl'
alias vg='vi Gemfile'
alias gf='git flow'
alias gff='git flow feature'
alias gst='git status'
alias ga='git add'
alias b='brew'
alias deploy='bundle exec middleman deploy'
alias bn='brew install'
alias bs='brew search'
alias bi='brew info'
alias bh='brew home'
alias bd='brew update'
alias bp='brew upgrade'
alias rr='bundle exec rake routes'
alias gi='gem install'
alias be='bundle exec'
alias cr='cp -R'
alias p='pry'
alias c='clear'
alias be='bundle exec'
alias rdm='bundle exec rake db:migrate'
alias rdt='bundle exec rake db:migrate'
alias tm='mate'
alias rg='rails generate'
alias rc='rails console'
alias rs='rails server'
alias gsa='git submodule add'
alias emacs='emacs -nw'
alias md='mkdir -p'
alias bfg='java -jar bfg.jar'
alias j='fasd_cd -d'
alias jj='fasd_cd -d -i'
alias grd='git rebase develop'
alias zu='zeus'
alias tks='tmux kill-server'
alias rr='rails'
alias rs='rails server'
alias zc='zeus console'
alias zg='zeus generate'
alias srg='gem list | grep'
alias hss='history | grep' 



alias -g C='| wc -l'
