alias e='emacs -nw'
alias gf='git flow'
alias gff='git flow feature'
alias gst='git status'
alias ga='git add'
alias gc='git commit'
alias be='bundle exec'
alias p='pry'
alias be='bundle exec'
alias rdm='bundle exec rake db:migrate'
alias rdt='bundle exec rake db:migrate'
alias rr='rails'
alias rg='rails generate'
alias rc='rails console'
alias rs='rails server'
alias emacs='emacsclient -ct -a ""'



alias -g C='| wc -l'
